{%load staticfiles%}
{%load bootstrap3%}
{% bootstrap_css %}
{% bootstrap_javascript %}

<nav class="navbar navbar-inverse navbar-fixed-top" style="position:relative">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="{% url 'map:map' %}">Liquor Quicker</a>
		</div>
		<div id="navbar" class="navbar-collapse collapse">
			<ul class="nav navbar-nav navbar-right">
				{%if user.is_authenticated%}
				<li><a href = "{% url 'profile:profile' user.pk %}"> My Profile </a></li>
				<li><a href = "{% url 'profile:logout' %}"> Logout </a></li>
				{%else %}
				<li> <a href = "{% url 'profile:login' %}"> Login </a> </li>
				<li><a href = "{% url 'profile:signup' %}"> Register</a></li>
				{%endif%}
			</ul>
		</div>
	</div>
</nav>

{% if user.is_authenticated %}
<center><h1 style="position:relative">Welcome, {{ object.username }}!</h1></center>
{% if user.avatar %}
<center><img src="{{ object.avatar.url }}" /></center>
{% endif %}
<center><h2>{{ object.first_name }} {{ object.last_name }}</h2></center>
<center>
	<h2>Favorite Bev:</h2>
	{% if user == object %}
    <!--TODO: set up edit -->
	<a href="blank">edit</a>
	{% endif %}
</center>
<center><p>{{ object.favorite_bev }}</p></center>
<center>
	<h2>Favorite Store:</h2>
</center>
<center><p>{{ object.favorite_store }}</p></center>
{% else %}
<center><h1 style="position:relative">Please log in or register to view your profile</h1></center>
{% endif %}
