{%load staticfiles%}
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>

<nav class="navbar navbar-inverse navbar-fixed-top" style="position:relative">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="{% url 'map:map' %}">Liquor Quicker</a>
		</div>
		<div id="navbar" class="navbar-collapse collapse">
			<ul class="nav navbar-nav navbar-right">
				{%if user.is_authenticated%}
				<li><a href = "{% url 'profile:profile' %}"> My Profile </a></li>
				<li><a href = "{% url 'profile:logout' %}"> Logout </a></li>
				{%else %}
				<li> <a href = "{% url 'profile:login' %}"> Login </a> </li>
				<li><a href = "{% url 'profile:signup' %}"> Register</a></li>
				{%endif%}
			</ul>
		</div>
	</div>
</nav>

{% if user.is_authenticated %}
<link rel="stylesheet" type="text/css" href="{% static 'css/user.css'%}" />

</div><center><h2>{{ user.first_name }} {{ user.last_name }}'s Profile</h2></center>
{% if user.avatar %}
<center><img src="{{ user.avatar.url }}" /></center>
{% endif %}

<span class="header">
	<center>and {{ user.first_name }}'s favourite store is: {{ user.favorite_store }}</center></div>
<center>and {{ user.first_name }}'s favourite drink is: {{ user.f_drink }}</center></div>
	</span>






<span class="row1">
	<form action="{%url 'profile:update_info' user.id%}" method="POST" class="form" role="form">{% csrf_token %}
	<div>Update Profile</div>
    <div class="registerLabel">
Favourite Drink:
    </div>
    <div class="registerTextLabel">

       <input type="text" id="f_drink" class="registerTextDetails" name="f_drink">
    </div>
    <div class="registerLabel">

    <div id="registerButtonDiv">
        <button type="submit" class="btn btn-primary" id="submitRegistration">Update Preferences</button>
    </div>
		</div>
		</form>
</form></span>



{% else %}
<center><h1 style="position:relative">Please log in or register to view your profile</h1></center>
{% endif %}
