body{
	min-width: 600px;
	margin: 50px 50px 50px 50px;
	text-align: center;
	background-position: center;
	background-size: cover;
	background: url(/static/images/background.jpg);
	color: grey;
	font-family: 'Raleway', sans-serif;
}


header {
	font-size: 100%;
	text-align: center;
}


.row1 {
	font-size: 100%;
	padding-bottom:100px;
	text-align: left;
}

.title{
	text-align: left;
}

.data {
	text-align:center;
}


.review {
	padding: 0 30px;
	padding-bottom: 50px;
	text-align: justify;
	word-wrap: normal;
}

.review-form {
	text-align: left;
	color: white;
	
}

.control-label {
	color: white;
}

#map {
        min-width: 100px;
        width: 100%;
        min-height: 100px;
        height: 60%;
        position: relative;
        color: black;
      }