html, body { height: 100%; 
				margin: 0; 
				padding: auto; 
				background-image: url(https://goo.gl/QW3qoy);}
      
      #map { height: 80%; 
      			top: 90px;
      			padding: auto;}


      
