body{
	min-width: 600px;
	margin: 50px 50px 50px 50px;
	text-align: center;
	background-position: center;
	background-size: cover;
	background: url(https://goo.gl/QW3qoy);
}

.used-space {
	padding: 10px 5px;
	background-color:white;
}

header {
	display: block;
	font-size: 200%;
	color: white;
	text-align: center;

}


.row1 {
	font-size: 150%;
	padding-bottom:50px;
	color: white;
}

.new-group {
	padding-bottom: 20px;
}

.review {
	padding: 0 30px;
	padding-bottom: 50px;
	text-align: justify;
	color: black;
	
}
