body{
	min-width: 600px;
	margin: 50px 50px 50px 50px;
	text-align: center;
	background-position: center;
	background-size: cover;
	background: url(http://7-themes.com/data_images/out/67/6999936-cool-websites-background.jpg);
	color: white;
	font-family: 'Raleway', sans-serif;
}


header {
	display: block;
	font-size: 200%;
	text-align: center;

}


.row1 {
	font-size: 150%;
	padding-bottom:50px;
}

.title{
	text-align: left;
}

.data {
	text-align:center;
}


.review {
	padding: 0 30px;
	padding-bottom: 50px;
	text-align: justify;
	word-wrap: break-word;
}

.review-form {
	text-align: left;
	color: black;
	
}

.control-label {
	color: white;
}

#map {
        min-width: 100px;
        width: 100%;
        min-height: 100px;
        height: 60%;
        position: relative;
        color: black;
        margin-top: 40px;
        text-align: center;
      }