body{
	min-width: 600px;
	margin: 50px 50px 50px 50px;
	text-align: center;
	background-position: center;
	background-size: cover;
	background: url(http://7-themes.com/data_images/out/67/6999936-cool-websites-background.jpg);
	color: white;
}


header {
	display: block;
	font-size: 200%;
	text-align: center;

}


.row1 {
	font-size: 150%;
	padding-bottom:50px;
}

.title{
	text-align: left;
}

.data {
	text-align:center;
}

.new-group {
	padding-bottom: 20px;
	overflow: scroll;

}

.review {
	padding: 0 30px;
	padding-bottom: 50px;
	text-align: justify;
}

.review-form {
	text-align: left;
	color: black;
}