body{
	text-align: center;
	background-position: center;
	background-size: cover;
	background: url(https://goo.gl/QW3qoy);
}

.head {
	padding-top: 50px;
	position:absolulte;
	color: white;
}


.head ul {
	list-style-type:none;
}

.row {

}

.data {
	line-height: 50px;
	background-color: white;
}

.review-section {
	line-height:50px;
	background-color: gray;
}

.review {
	height:100px;
	margin: ;
}

.review .content {
	overflow: scroll;
}
