<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{ city }}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>

<body>
  <div class="container">
    <h2 id='city'>{{ city }}</h2><br>

    {% if filtered_stores %}
    <table class="table">
      <thead>
        <tr>
          <th>Store Name</th>
          <th>Address</th>
          <th>City</th>
        </tr>
      </thead>
      <tbody>
        {% for store in filtered_stores %}
        <tr>
          <td><a href="{% url 'map:map' %}">{{store.name}}</a></td>
          <td>{{store.address}}</td>
          <td>{{store.city}}</td>
        </tr>
        {% endfor %}
      </tbody>
      </table>
      {% else %}
      <p>There are no liquor stores in {{ city }}.</p>
      {% endif %}
    </div>

  </body>
  </html>
