{%load staticfiles%}

<!DOCTYPE html>
<html>
<head>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>

<script src="{% static 'js/google_map.js' %}"></script>
<script src="{% static 'js/search.js' %}"></script>

<link rel= "stylesheet" type = "text/css" href = "{% static 'css/map.css'%}">

  </head>
  <body>
      <nav>
          {%block header%}
          {%endblock header%}
      </nav>

      <div class ="container-fluid content-container">
        <div class="row map-container">
          <div id="list-pane" class="col-xs-3">
            <div class="row search-container">
              <form id="search-bar" class="search-box">
                <input id="search-bar-input" type="text" class="form-control" placeholder="Find a place close to..."/>
              </form>
              <div class="dropdown" style="display: inline-block">
                <button type="button" class="btn dropdown-toggle" id="map-options-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" aria-label="Map Options">
                  <span class="glyphicon glyphicon-option-vertical" style="color:white"></span>
                </button>
                <ul class="dropdown-menu map-options" aria-labelledby="map-options-btn">
                  <form id="map-options">
                    <li><strong>Sort By:</strong></li>
                    <li><input type="radio" name="sort-by" value="distance" checked> Distance</li>
                    <li><input type="radio" name="sort-by" value="rating"> Rating</li>
                    <li role="separator" class="divider"></li>
                    <li><strong>Filter by Min. Rating</strong></li>
                    <li><input type="range" name="min-rating" value="0" min="0" max="5"></li>
                    <li><em>Rating: </em><span id="min-rating-value">0</span></li>
                    <li role="separator" class="divider"></li>
                    <li><button class="btn btn-default" type="submit">Apply</button></li>
                  </form>
                </ul>
              </div>
            </div>
            <div class="row results-container">
              <ul class="results-list">
              </ul>
            </div>
          </div>
          <div id="map" class="col-md-9"></div>
        </div>
      </div>

  <script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDw3QjnTZGH6JIV9NyKnrXsxo6acAKITJY&callback=initMap&libraries=places">
  </script>
</body>
</html>
